* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #21172c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* MAIN CONTAINER */
.container {
  background: #ab85d0;
  width: 800px;
  max-width: 100%;
  min-height: 500px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

/* Style for the "Forgot password?" link */
.forgot-password {
  color: #281616;              
  text-decoration: none;   
  font-size: 12px;         
  cursor: pointer;
}

.buttonn:hover{
  background-color: antiquewhite;
  -webkit-text-fill-color: #21172c;
}

.ghost:hover{
  background-color: rgb(192, 160, 182);
  -webkit-text-fill-color: #21172c;
}

.placeh{
  -webkit-text-fill-color: #21172c;
}

/* Optional: hover effect */
.forgot-password:hover {
  text-decoration: underline;
  color: #592626;
}

/* FORMS */
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  transition: all 0.6s ease-in-out;
}

form {
  background: #ab85d0;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #281616;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

button {
  border-radius: 20px;
  border: none;
  padding: 10px 40px;
  margin-top: 15px;
  background-color: #c7a06c;
  color: white;
  cursor: pointer;
}

button.ghost {
  background: transparent;
  border: 1px solid white;
}

/* SIGN IN POSITION */
.sign-in-container {
  left: 0;
  z-index: 2;
}

/* SIGN UP POSITION */
.sign-up-container {
  left: 0;
  opacity: 0;
  z-index: 1;
}

/* OVERLAY */
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
}

.overlay {
  background: #5f5f5f;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ANIMATION WHEN ACTIVE */
.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}